## Imports

In [7]:
import pandas as pd
import sqlite3

## Load Data

In [4]:
con = sqlite3.connect("../data/nfts.sqlite")
cur = con.cursor()

## List All Available Tables

In [8]:
cur.execute("SELECT * FROM sqlite_master WHERE type='table'")
pd.DataFrame.from_dict(cur.fetchall())

,0,1,2,3,4
0,table,nfts,nfts,2,CREATE TABLE nfts\n (\n address TEXT...
1,table,checkpoint,checkpoint,5,CREATE TABLE checkpoint\n (\n event_...
2,table,mints,mints,6,CREATE TABLE mints\n (\n event_id TE...
3,table,transfers,transfers,8,CREATE TABLE transfers\n (\n event_i...
4,table,transfer_values_quartile_10_distribution_per_a...,transfer_values_quartile_10_distribution_per_a...,10,CREATE TABLE transfer_values_quartile_10_distr...
5,table,current_owners,current_owners,11,CREATE TABLE current_owners(\n nft_address TE...
6,table,current_market_values,current_market_values,12,CREATE TABLE current_market_values(\n nft_add...
7,table,market_values_distribution,market_values_distribution,13,CREATE TABLE market_values_distribution(\n ad...
8,table,transfer_statistics_by_address,transfer_statistics_by_address,14,CREATE TABLE transfer_statistics_by_address(\n...
9,table,transfer_values_quantile_10_distribution_per_a...,transfer_values_quantile_10_distribution_per_a...,15,CREATE TABLE transfer_values_quantile_10_distr...
10,table,transfer_values_quantile_25_distribution_per_a...,transfer_values_quantile_25_distribution_per_a...,16,CREATE TABLE transfer_values_quantile_25_distr...
11,table,transfers_mints,transfers_mints,17,"CREATE TABLE transfers_mints(transfer_id TEXT,..."
12,table,mint_holding_times,mint_holding_times,18,"CREATE TABLE mint_holding_times(days,num_holds)"
13,table,transfer_holding_times,transfer_holding_times,19,"CREATE TABLE transfer_holding_times(\n days,\..."
14,table,ownership_transitions,ownership_transitions,20,CREATE TABLE ownership_transitions(\n from_ad...

In [ ]:
con.close()